/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: #2e3094;
  --clr-primary-2: #0e1229;
  --clr-primary-3: #3133af;
  --clr-primary-4: #222121;
  --clr-primary-5: #4e4d4dc4;

  --text-color-1: #ffc107;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  line-height: 1.5;
  font-size: 0.875rem;
}
